@use 'sass:map';

.expansion-selector {
  @each $label, $value in $expansion-colors {
    .expansion-#{$label} {
      $bg-color: rgba(mix(black, $value, 90%), 0.75);

      color: $value;
      background: $bg-color;

      &:hover,
      &:focus,
      &.active {
        background: darken($bg-color, 2%);
      }
    }
  }

  .expansion-selector-btn {
    display: flex;
    align-items: center;
  }

  .expansion-selector-icon {
    width: 24px;
    height: 24px;
    margin-right: map-get($spacers, 1);
  }
}
